h1,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000757;
  margin: 0px; }

h1 {
  font-size: 60px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #666666;
  margin: 0px; }

.same-title h3 {
  color: #000757; }

.same-title {
  margin-top: 20px;
  padding-bottom: 10px; }
  .same-title h3 {
    position: relative;
    display: block;
    padding-bottom: 25px;
    text-transform: uppercase; }
    .same-title h3::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 2px;
      background-color: #eaeaea;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .same-title h3::after {
      content: '';
      position: absolute;
      width: 200px;
      height: 2px;
      background-color: #eaeaea;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 30px;
      height: 5px;
      background-color: #0083ff;
      bottom: -2px; }

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

.theme-bg {
  background-color: #000757; }

.main-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #0083ff;
  padding: 0 26px;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 9;
  transition: 0.4s ease-in-out; }

.main-btn-2 {
  border-color: #000757;
  color: #000757;
  background-color: transparent; }

.main-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0083ff;
  transition: 0.4s ease-in-out;
  z-index: -1; }

.main-btn-2::before {
  right: auto;
  left: 0;
  width: 0; }

.main-btn:hover {
  border-color: #000757;
  color: #000757;
  background-color: transparent;
  text-decoration: none; }

.main-btn:hover::before {
  width: 0%; }

.main-btn-2:hover {
  border-color: #0083ff;
  color: #fff;
  background-color: #0083ff; }

.main-btn-2:hover::before {
  width: 100%; }

[data-overlay] {
  position: relative; }

[data-overlay]::before {
  background: #000757;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

[data-overlay="6"]::before {
  opacity: 0.6; }

.preloader {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  background-color: #fff; }
  .preloader .load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px; }
  .preloader .load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite; }
  .preloader .load :first-child {
    background: #000757;
    animation-delay: -1.5s; }
  .preloader .load :nth-child(2) {
    background: #0083ff;
    animation-delay: -1s; }
  .preloader .load :nth-child(3) {
    background: #000757;
    animation-delay: -0.5s; }
  .preloader .load :last-child {
    background: #0083ff; }
@-webkit-keyframes spin {
  0%,
        100% {
    transform: translate(0); }
  25% {
    transform: translate(160%); }
  50% {
    transform: translate(160%, 160%); }
  75% {
    transform: translate(0, 160%); } }
@keyframes spin {
  0%,
        100% {
    transform: translate(0); }
  25% {
    transform: translate(160%); }
  50% {
    transform: translate(160%, 160%); }
  75% {
    transform: translate(0, 160%); } }
.bg-color {
  background-color: #000757;
  padding-bottom: 10px;
  padding-top: 10px; }
  .bg-color .left-header p {
    color: #fff;
    font-family: 'Montserrat', sans-serif; }
  .bg-color .right-header ul li {
    display: inline-block;
    margin-left: 7px; }
  .bg-color .right-header ul li a {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #fff;
    transition: all 0.4s linear;
    padding: 5px; }
  .bg-color .right-header ul li:hover a {
    background-color: #0083ff;
    border-color: #0083ff; }

.address-header .icon {
  position: relative;
  left: -190px;
  border-radius: 50%;
  top: 30px; }
.address-header .content {
  float: left;
  position: relative;
  left: 65px;
  top: -30px; }
  .address-header .content p {
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #666666;
    margin: 0px; }

.navigation .navbar {
  padding: 0;
  border-radius: 0px; }
  .navigation .navbar .navbar-nav .nav-item {
    margin: 20px 20px;
    position: relative; }
    .navigation .navbar .navbar-nav .nav-item a {
      padding: 20px 0;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      position: relative; }
      .navigation .navbar .navbar-nav .nav-item a::before {
        content: '';
        position: absolute;
        width: 65%;
        height: 5px;
        background-color: #fff;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transition: all 0.4s linear; }
      .navigation .navbar .navbar-nav .nav-item a.active::before {
        transform: translateX(-50%) scaleX(1); }
    .navigation .navbar .navbar-nav .nav-item:hover > a::before {
      transform: translateX(-50%) scaleX(1); }
    .navigation .navbar .navbar-nav .nav-item .drop-menu {
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #f5f8ff;
      white-space: nowrap;
      text-align: center;
      box-shadow: 0px 10px 32px 0px rgba(0, 7, 87, 0.15);
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s linear;
      z-index: 99; }
    .navigation .navbar .navbar-nav .nav-item:hover .drop-menu {
      top: 100%;
      visibility: visible;
      opacity: 1; }
    .navigation .navbar .navbar-nav .nav-item .drop-menu li a {
      color: #000757;
      padding: 10px 30px;
      transition: all 0.4s linear;
      display: block; }
    .navigation .navbar .navbar-nav .nav-item .drop-menu li:hover > a {
      background-color: #000757;
      color: #fff; }
  .navigation .navbar .navbar-nav .search {
    padding: 20px 0;
    position: relative;
    margin-left: 20px; }
    .navigation .navbar .navbar-nav .search a {
      font-size: 14px;
      color: #fff; }

.search a {
  color: #fff; }

.search-box {
  position: absolute;
  right: 0;
  top: 100%;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0px 10px 32px 0px rgba(0, 7, 87, 0.15);
  z-index: 99;
  display: none; }
  .search-box input {
    width: 220px;
    height: 40px;
    border: 1px solid #000757;
    padding-left: 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; }
  .search-box button {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 14px;
    color: #000757;
    padding: 0;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 40px; }

.navbar .navbar-toggler {
  margin-left: auto; }
  .navbar .navbar-toggler .icon-bar {
    width: 30px;
    height: 2px;
    margin: 5px 0;
    background-color: #fff;
    display: block;
    position: relative;
    transition: all 0.4s linear; }
  .navbar .navbar-toggler.active .icon-bar:nth-of-type(1) {
    transform: rotate(46deg);
    top: 7px; }
  .navbar .navbar-toggler.active .icon-bar:nth-of-type(2) {
    opacity: 0; }
  .navbar .navbar-toggler.active .icon-bar:nth-of-type(3) {
    transform: rotate(134deg);
    top: -7px; }

.sub-nav-toggler {
  display: none; }

#img-slider .silder-info .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px; }
#img-slider .silder-info .carousel-caption h1 {
  color: #fff; }
@media (max-width: 576px) {
  #img-slider .silder-info .carousel-caption h1 {
    font-size: 20px; } }
@media (min-width: 576px) and (max-width: 768px) {
  #img-slider .silder-info .carousel-caption h1 {
    font-size: 40px; } }
@media (min-width: 768px) and (max-width: 992px) {
  #img-slider .silder-info .carousel-caption h1 {
    font-size: 40px; } }

#about {
  padding-bottom: 100px;
  padding-top: 90px; }
  #about .about-left {
    padding-top: 30px;
    padding-left: 20px; }
    #about .about-left ul li {
      padding-bottom: 25px; }
  #about .about-left ul li:last-child {
    padding-bottom: 0; }
  #about .about-info {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start; }
  #about .about-info .icon i {
    font-size: 25px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #000757;
    text-align: center;
    transition: all 0.4s linear;
    margin-left: -20px; }
  #about .about-info:hover .icon i {
    background-color: #0083ff; }
  #about .about-info .cont {
    padding-left: 25px; }
  #about .about-info .cont h5 {
    color: #000757;
    text-transform: uppercase;
    padding-bottom: 20px; }
  #about .about-line {
    width: 2px;
    height: 300px;
    background-color: #eaeaea;
    margin: 0 auto;
    margin-top: 35px; }
  #about .about-right {
    padding-top: 30px; }
  #about .about-right h4 {
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #000757; }
  #about .about-right .about-btn {
    margin-top: 30px;
    border-radius: 0px; }

#services {
  padding-top: 90px;
  padding-bottom: 100px; }

.gray-bg {
  background: #f5f8ff; }

.services {
  padding-top: 30px;
  padding-bottom: 25px; }

.services .cont h5 {
  color: #000757;
  text-transform: uppercase;
  padding-bottom: 20px; }

.services .icon {
  padding-bottom: 30px; }
  .services .icon i {
    font-size: 25px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #000757;
    text-align: center;
    transition: all 0.4s linear; }

.services:hover .icon i {
  background-color: #0083ff; }

.services .cont h5 {
  color: #000757;
  text-transform: uppercase;
  padding-bottom: 20px; }
.services .service-text {
  padding-bottom: 20px; }

#casestudy {
  padding-top: 90px;
  padding-bottom: 100px; }

.case-menu {
  padding-top: 20px; }

.case-menu ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #000757;
  border: 1px solid #000757;
  line-height: 40px;
  padding: 0 25px;
  margin: 0 3px;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  text-transform: uppercase;
  margin-top: 10px; }

.case-menu ul li:hover,
.case-menu ul li.active {
  color: #fff;
  background-color: #0083ff;
  border-color: #0083ff; }

.case-items {
  position: relative;
  margin-top: 30px; }

.case-items .case-img {
  position: relative; }

.case-items .case-img img {
  width: 100%; }

.case-items .case-img::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 7, 87, 0.6);
  opacity: 0;
  transition: all 0.4s linear; }

.case-items .case-cont {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%); }

.case-items .case-cont ul {
  transform: translateY(-100%);
  transition: all 0.4s linear;
  opacity: 0; }

.case-items .case-cont ul li {
  display: inline-block;
  margin: 0 8px; }

.case-items .case-cont ul li a {
  font-size: 18px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #0083ff;
  border-radius: 50%;
  padding: 10px;
  margin-top: 30px;
  margin-left: 0px; }

.case-items .case-cont h3 {
  color: #fff;
  padding-bottom: 20px;
  text-transform: uppercase;
  padding-top: 25px;
  opacity: 0;
  transition: all 0.4s linear;
  margin-left: 10px; }

.case-items .case-cont p {
  color: #fff;
  opacity: 0;
  transition: all 0.6s linear; }

.case-items:hover .case-cont ul {
  transform: translateY(0);
  opacity: 1; }

.case-items:hover .case-img::before,
.case-items:hover .case-cont h3,
.case-items:hover .case-cont p {
  opacity: 1; }

#counter {
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px; }
  #counter .counter-number {
    position: relative;
    z-index: 9; }
  #counter .counter-number i {
    font-size: 40px;
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #000757;
    border-radius: 50%;
    margin-bottom: 38px; }
  #counter .counter-number span {
    display: block;
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 12px; }
  #counter .counter-number p {
    color: #fff;
    font-family: 'Montserrat', sans-serif; }
  #counter .bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }

#team {
  padding-top: 90px;
  padding-bottom: 70px; }
  #team .card {
    border: none; }
  #team .team-members {
    border: 1px solid #eaeaea;
    padding: 25px 20px;
    transition: all 0.4s linear;
    border-radius: 0px;
    box-sizing: border-box; }
  #team .team-members .team-img {
    display: inline-block;
    margin-bottom: 30px; }
    #team .team-members .team-img img {
      border-radius: 50%;
      border: 5px solid #eaeaea; }
  #team .team-members .team-cont ul li {
    display: inline-block;
    margin: 0 3px; }
    #team .team-members .team-cont ul li a {
      width: 30px;
      height: 30px;
      border: 1px solid #000757;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      color: #000757;
      transition: all 0.4s linear;
      padding: 5px; }
    #team .team-members .team-cont ul li:hover a {
      background-color: #0083ff;
      border-color: #0083ff;
      color: #fff; }
  #team .team-members .team-cont h6 {
    color: #000757;
    padding-top: 25px;
    text-transform: uppercase;
    font-weight: 700; }
  #team .team-members .team-cont span {
    color: #666666;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
  #team .team-members .team-cont p {
    padding-top: 15px; }
  #team .team-members:hover {
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.4);
    background-color: #f5f8ff; }
  @media (min-width: 768px) {
    #team .carousel-inner .active {
      display: block; }
      #team .carousel-inner .active + .team-item {
        display: block; }
        #team .carousel-inner .active + .team-item + .team-item {
          display: block; }
          #team .carousel-inner .active + .team-item + .team-item + .team-item {
            display: block; }
    #team .carousel-inner .team-item.active:not(.team-item-right):not(.team-item-left) {
      transition: none; }
      #team .carousel-inner .team-item.active:not(.team-item-right):not(.team-item-left) + .team-item {
        transition: none; }
        #team .carousel-inner .team-item.active:not(.team-item-right):not(.team-item-left) + .team-item + .team-item {
          transition: none; }
          #team .carousel-inner .team-item.active:not(.team-item-right):not(.team-item-left) + .team-item + .team-item + .team-item {
            transition: none; }
    #team .carousel-inner .active.team-item + .team-item + .team-item + .team-item + .team-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible; } }

#test {
  padding-top: 40px;
  padding-bottom: 100px; }

.testing-part {
  margin-top: 50px; }
  .testing-part .section-title h3::before, .testing-part .section-title h3::after {
    margin: 0; }

.testing {
  position: relative;
  margin-top: 30px; }
  .testing .bs-vertical-slider .carousel-item-next.carousel-item-left, .testing .bs-vertical-slider .carousel-item-prev.carousel-item-right {
    transform: translate3d(0, 0, 0); }
  .testing .bs-vertical-slider .carousel-item-next, .testing .bs-vertical-slider .active.carousel-item-right {
    transform: translate3d(0, 100% 0); }
  .testing .bs-vertical-slider .carousel-item-prev, .testing .bs-vertical-slider .active.carousel-item-left {
    transform: translate3d(0, -100%, 0); }
  .testing .test-img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
    .testing .test-img img {
      border-radius: 50%;
      border: 1px solid #eaeaea; }

.test-img img {
  border-radius: 50%;
  border: 1px solid #eaeaea; }

.testing .test-cont {
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 20px;
  padding-left: 75px;
  margin-left: 50px; }

.testing .test-cont p {
  padding-bottom: 20px; }

.testing .test-cont h6 {
  text-transform: uppercase;
  color: #000757; }

.testing .test-cont span {
  font-size: 15px;
  font-weight: 600;
  color: #666666;
  text-transform: uppercase; }

.testing-slied .slick-dots {
  text-align: center;
  margin-top: 20px; }
  .testing-slied .slick-dots li {
    display: inline-block;
    margin: 0 3px; }
    .testing-slied .slick-dots li button {
      font-size: 0;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #000757;
      border: 0;
      cursor: pointer; }
    .testing-slied .slick-dots li.slick-active button {
      background-color: #0083ff; }

.ques-part .accordion .card {
  border: 0;
  background: none;
  margin-top: 50px;
  margin-bottom: 30px; }
  .ques-part .accordion .card .card-header {
    display: flex;
    box-align: center;
    align-items: center;
    padding: 0;
    background: none;
    border: 0; }
    .ques-part .accordion .card .card-header .icon {
      width: 70px;
      height: 60px;
      border: 1px solid #000757;
      text-align: center; }
      .ques-part .accordion .card .card-header .icon button {
        padding: 8px 0;
        margin: 19px 0;
        cursor: pointer;
        border: 0;
        background-color: transparent; }
        .ques-part .accordion .card .card-header .icon button span {
          width: 20px;
          height: 2px;
          background-color: #000757;
          display: block;
          position: relative; }
          .ques-part .accordion .card .card-header .icon button span:nth-child(1) {
            display: none; }
        .ques-part .accordion .card .card-header .icon button.collapsed span:nth-child(1) {
          display: block; }
        .ques-part .accordion .card .card-header .icon button.collapsed span:nth-child(2) {
          transform: rotate(90deg);
          top: -2px; }
    .ques-part .accordion .card .card-header .head {
      border: 1px solid #000757;
      width: 100%;
      margin-left: 30px; }
      .ques-part .accordion .card .card-header .head button {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: #000757;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        line-height: 60px;
        padding-left: 20px; }
  .ques-part .accordion .card .card-body {
    border: 1px solid #000757;
    padding: 15px 20px;
    margin-top: 15px;
    margin-left: 90px; }

#medals {
  padding-top: 90px;
  padding-bottom: 100px; }

.medals {
  border: 1px solid #eaeaea;
  transition: all 0.4s linear;
  margin-top: 30px;
  margin-bottom: 20px; }
  .medals .medals-head {
    padding-top: 25px;
    padding-bottom: 75px;
    background-color: #f5f8ff; }
    .medals .medals-head h5 {
      font-size: 24px;
      text-transform: uppercase;
      color: #000757; }
  .medals .price {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 5px solid #eaeaea;
    background-color: #000757;
    display: inline-block;
    margin-top: -57px;
    transition: all 0.4s linear;
    z-index: 9;
    position: relative; }
    .medals .price span {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 110px; }
      .medals .price span b {
        font-size: 30px;
        font-weight: 600; }
  .medals .list {
    margin-top: 30px; }
    .medals .list .list ul li {
      line-height: 40px;
      color: #666666;
      font-size: 16px; }
  .medals .more-btn {
    margin-bottom: -20px;
    padding-top: 30px; }
    .medals .more-btn .main-btn {
      background-color: #fff; }
  .medals:hover {
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5); }
    .medals:hover .price {
      background-color: #0083ff; }

#message {
  padding-top: 90px;
  padding-bottom: 100px; }

.section-title {
  position: relative;
  z-index: 5; }
  .section-title h3 {
    color: #fff; }

.message-form {
  position: relative;
  z-index: 9; }
  .message-form .message-box {
    margin-top: 30px; }
    .message-form .message-box input {
      width: 100%;
      padding: 15px 0;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid #fff; }
    .message-form .message-box .main-btn:hover {
      border-color: #fff;
      color: #fff; }

#blog {
  padding-top: 90px;
  padding-bottom: 100px; }

.blog {
  transition: all 0.4s linear;
  margin-top: 30px; }
  .blog h5 {
    color: #000757; }
  .blog:hover {
    box-shadow: 0px 0px 10px 0px rgba(149, 149, 149, 0.5); }
  .blog .blog-img img {
    width: 100%; }
  .blog .blog-cont {
    padding: 30px;
    border: 1px solid #eaeaea; }
    .blog .blog-cont ul li {
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 20px; }
      .blog .blog-cont ul li:first-child {
        margin-left: 0; }
      .blog .blog-cont ul li a {
        color: #666666;
        font-size: 15px; }

.blog-cont ul li a {
  color: #666666;
  font-size: 15px; }

.blog .blog-cont ul li a i {
  margin-right: 10px; }

.blog .blog-cont h5 {
  text-transform: uppercase;
  padding-bottom: 24px; }
.blog .blog-cont p {
  padding-bottom: 25px; }

#financial-services {
  padding-top: 90px;
  padding-bottom: 100px; }

.financial-services-left h3 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 15px;
  color: #000757;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif; }

.financial-services-right {
  margin-top: 30px; }

.financial-services p {
  padding-top: 20px; }
.financial-services h3,
.financial-services p {
  color: #fff; }

.footer-top {
  padding-top: 40px;
  padding-bottom: 100px; }

.footer-title h5 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  margin-top: 50px; }
  .footer-title h5::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0; }

.footer-about {
  margin-top: 25px; }
  .footer-about p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin: 0px; }
  .footer-about .subscribe {
    position: relative;
    margin-top: 20px; }
    .footer-about .subscribe input {
      width: 100%;
      padding-left: 10px;
      height: 45px;
      font-size: 16px;
      background-color: #fff;
      border: 0; }
    .footer-about .subscribe button {
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 0 14px;
      line-height: 35px;
      border: 0;
      background-color: #0083ff;
      font-size: 16px;
      color: #fff;
      cursor: pointer; }

.footer-blog {
  margin-top: 25px; }

.footer-blog ul li {
  margin-bottom: 20px; }
  .footer-blog ul li:last-child {
    margin-bottom: 0; }
  .footer-blog ul li .our-blog a,
  .footer-blog ul li .our-blog p {
    color: #fff; }

.footer-link {
  margin-top: 25px; }

.footer-link ul li a {
  line-height: 35px;
  font-size: 14px;
  color: #fff;
  text-decoration: none; }
  .footer-link ul li a i {
    font-size: 13px;
    margin-right: 5px; }

.footer-flickers {
  margin-top: 25px; }

.footer-flickers ul li {
  display: inline-block;
  margin: 0 9px;
  margin-bottom: 15px; }

.copyrights {
  border-top: 1px solid #fff;
  padding-top: 40px;
  padding-bottom: 40px; }

.copyright p {
  color: #fff; }

.copyright-nav ul li {
  display: inline-block;
  margin-left: 30px; }
  .copyright-nav ul li:first-child {
    margin-left: 0; }
  .copyright-nav ul li a {
    font-size: 16px;
    color: #fff; }

/*# sourceMappingURL=main.css.map */
